html,body{
    margin: 0;
    padding: 0;
    background: #E4E6E5;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

header{
    margin: 20px 10px;
    width: 100%;

}

main{
    display: flex;
    padding: 20px 0;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.logo{
    font-size: 24px;
    font-weight: 700;
}

.desktop-header {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



@media (max-width: 768px) {
    .desktop-header {
        display: none;
    }

    .logo{
        font-size: 20px;
        font-weight: 600;
    }
}